nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: rgb(50, 167, 145)
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: 50%;
}

.links-container a {
  width: 15%;
}

.title-container {
  padding: 0.5%;
}

.title-container a {
  color: aliceblue;
  text-decoration: none;
}
