nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: rgb(50, 167, 145)
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: 50%;
}

.links-container a {
  width: 15%;
}

.title-container {
  padding: 0.5%;
}

.title-container a {
  color: aliceblue;
  text-decoration: none;
}

.pic-and-description-container {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.my-pic {
  width: 15em;
  border-radius: 50%;
}

.description {
  width: 50%;
  text-align: justify;
}
